<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset='utf-8'>
    			<meta http-equiv="X-UA-Compatible" content="IE=edge">
    			<meta name="viewport" content="width=device-width,maximum-scale=2">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" media="screen" href="/ModCatalogue/assets/css/style.css?v=73e280699872fd1963649629d5444ef04b1d50e7">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:test@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Paroyer">github.com/test</a></li>
				</ul>
			</footer>
		</body>
	</html>
